<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MyConventions{% endblock %}</title>
        {% block stylesheets %}
      		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
    	{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    
    	<div class="container">
  			
			<!-- Titre de l'application -->
			<h1>My Conventions</h1>
			
			<!-- Barre de menu -->
			<div class="navbar navbar-default">
	         
	        	<ul class="nav navbar-nav">
	                <li {% if app.request.attributes.get('_route') == 'MyConventions_accueil' %}class="active"{% endif %}><a href="{{ path('MyConventions_accueil') }}">Conventions</a></li>
	                <li {% if app.request.attributes.get('_route') == 'MyConventions_ajouter' %}class="active"{% endif %}><a href="{{ path('MyConventions_ajouter') }}">Ajouter</a></li>
	        	</ul>
	            
	        </div>
	        
	        {% block body %}{% endblock %}
    
    	</div>
   
        {% block javascripts %}
	    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	    	<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
	    {% endblock %}
    </body>
</html>
