{% extends "::base.html.twig" %}

{% block body %}

	<a href="{{ path('MyConventions_editer', {'id': convention.id}) }}" class="btn btn-primary">Editer</a>
	<a href="{{ path('MyConventions_supprimer', {'id': convention.id}) }}" class="btn btn-danger">Supprimer</a>

	<div class="row">
		<div class="col-md-2">
			<img src="{{ convention.thumbnail }}" />
		</div>
		<div class="col-md-10">
			<h4 style="color:dark gray;">{{ convention.name }}</h4>
			<p style="color:gray;font-size:12px;">{{ convention.date }}</p>
			<p style="color:gray;font-size:12px;">{{ convention.location }}</p>
			<p style="color:gray;font-size:12px;">{{ convention.enterprise }}</p>
			<p style="color:gray;font-size:12px;">{{ convention.show }}</p>
		</div>
	</div>	

{% endblock %}